html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}

.wrapper {
    width: 400px;
    color: #fff;
    margin: auto;
}            

.calc-button-row {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button {
    background-color: #d8d9db;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}