html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}

.wrapper {
    width: 400px;
    color: #fff;
    margin: 10rem auto;
    background-color: #e0bbe4;
    box-sizing: border-box;
}            

.calc-button-row {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button {
    background-color: #d291bc;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-button:hover {
    background: #ffe8e5;
}

.calc-button:active {
    background: #b86b77;
}

.double {
flex-basis: 49.7%;
}

.triple {
    flex-basis: 74.8%;
}

.calc-button:last-child {
background-color: #fffce6;
}

.calc-button:last-child:hover {
    background-color: #b4db9c;
}

.calc-button:last-child:active {
    background-color: #45553a;
}